<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>life_style_article_list</key>
	<dict>
		<key>note</key>
		<string>精选文章列表和频道文章列表</string>
		<key>title</key>
		<dict>
			<key>note</key>
			<string>文章标题</string>
			<key>color</key>
			<string>333333</string>
			<key>size</key>
			<integer>16</integer>
			<key>3.5inch</key>
			<integer>0</integer>
			<key>4inch</key>
			<integer>0</integer>
			<key>4.7inch</key>
			<integer>0</integer>
			<key>5.5inch</key>
			<integer>0</integer>
		</dict>
		<key>summary</key>
		<dict>
			<key>note</key>
			<string>文章摘要</string>
			<key>color</key>
			<string>848484</string>
			<key>size</key>
			<integer>12</integer>
			<key>3.5inch</key>
			<integer>0</integer>
			<key>4inch</key>
			<integer>0</integer>
			<key>4.7inch</key>
			<integer>0</integer>
			<key>5.5inch</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>life_style_category_list</key>
	<dict>
		<key>note</key>
		<string>生活方式分类列表</string>
		<key>cell</key>
		<dict>
			<key>note</key>
			<string>单个分类对象</string>
			<key>color</key>
			<string>ffffff</string>
			<key>size</key>
			<integer>16</integer>
			<key>3.5inch</key>
			<integer>0</integer>
			<key>4inch</key>
			<integer>0</integer>
			<key>4.7inch</key>
			<integer>0</integer>
			<key>5.5inch</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>withdraw_add_bank_card</key>
	<dict>
		<key>note</key>
		<string>余额提现添加银行卡</string>
		<key>labelText</key>
		<dict>
			<key>note</key>
			<string>label文本</string>
			<key>color</key>
			<string>333333</string>
			<key>size</key>
			<integer>15</integer>
			<key>3.5inch</key>
			<integer>0</integer>
			<key>4inch</key>
			<integer>0</integer>
			<key>4.7inch</key>
			<integer>16</integer>
			<key>5.5inch</key>
			<integer>16</integer>
		</dict>
		<key>textFieldText</key>
		<dict>
			<key>note</key>
			<string>输入框文本</string>
			<key>color</key>
			<string>333333</string>
			<key>size</key>
			<integer>14</integer>
			<key>3.5inch</key>
			<integer>0</integer>
			<key>4inch</key>
			<integer>0</integer>
			<key>4.7inch</key>
			<integer>15</integer>
			<key>5.5inch</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
