<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>极客范</string>
		<key>boyID</key>
		<string>1</string>
		<key>girlID</key>
		<string>2</string>
		<key>imageName</key>
		<string>LifeStyle_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运动达人</string>
		<key>boyID</key>
		<string>3</string>
		<key>girlID</key>
		<string>4</string>
		<key>imageName</key>
		<string>LifeStyle_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>潮流教主</string>
		<key>boyID</key>
		<string>5</string>
		<key>girlID</key>
		<string>6</string>
		<key>imageName</key>
		<string>LifeStyle_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行者</string>
		<key>boyID</key>
		<string>7</string>
		<key>girlID</key>
		<string>8</string>
		<key>imageName</key>
		<string>LifeStyle_04</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美食家</string>
		<key>boyID</key>
		<string>9</string>
		<key>girlID</key>
		<string>10</string>
		<key>imageName</key>
		<string>LifeStyle_05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小清新</string>
		<key>boyID</key>
		<string>11</string>
		<key>girlID</key>
		<string>12</string>
		<key>imageName</key>
		<string>LifeStyle_06</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时尚小资</string>
		<key>boyID</key>
		<string>13</string>
		<key>girlID</key>
		<string>14</string>
		<key>imageName</key>
		<string>LifeStyle_07</string>
	</dict>
</array>
</plist>
